/* src/FallingHearts.css */
.heart {
  position: fixed;
  top: 0;
  color: red;
  font-size: 24px;
  z-index: 9999;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  pointer-events: none;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}